@using ApplicationUW.Models
@model Configuration

@{
    ViewData["Title"] = "Configuration";
    ErrorMessage error = ViewBag.Error ?? new ErrorMessage();
}
<h1>Konfigurimet</h1>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-5">
            @Html.LabelFor(m => m.InstagramPath, new { @class = "required" })
            @Html.TextBoxFor(m => m.InstagramPath, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.InstagramPath, null, new { @class = "text-danger" })
        </div>
        <div class="col-md-5">
            @Html.LabelFor(m => m.MyHeritagePath, new { @class = "required" })
            @Html.TextBoxFor(m => m.MyHeritagePath, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.MyHeritagePath, null, new { @class = "text-danger" })
        </div>
        <div class="col-md-2">
            @Html.Label("btnSubmit", null, new { style = "visibility:hidden" })<br />
            <button id="btnSubmit" type="submit" class="btn btn-primary w-100">Ndrysho</button>
        </div>
    </div>
}

@section scripts{
    @if (ViewBag.Error != null)
    {
        <script>
        if (@error.ErrorNumber ==1) {
            Swal.fire({
                icon: 'success',
                title: 'Sukses',
                text: 'Të dhënat janë ruajtur me sukses',
                timer: 1500
            })
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Gabim',
                text: "@error.ErrorDescription",
                confirmButtonText:'Në rregull'
            })
        }
        </script>
    }
}