@model ApplicationUW.Models.QueryOntology

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mirëserdhët</h1>
    <p>Aplikacioni i zhvilluar në kuadër të projektit në lëndën "Uebi Semantik" i cili ekzekuton SPARQL dhe SWRL query.</p>
</div>

<h4>Ekzekutimi i SPARQL pyetësorëve</h4>
<br />
<form action="@Url.Action("_Index")" method="post" data-ajax="true" data-ajax-method="post" data-ajax-update="#queryResult" data-ajax-complete="onCompleted()">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(m => m.Ontology, new { @class = "required" })
            @Html.DropDownListFor(m => m.Ontology, new List<SelectListItem> { new SelectListItem { Value = "1", Text = "Instagram" }, new SelectListItem { Value = "2", Text = "My Heritage" } }, "Zgjedhe", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Ontology, null, new { @class = "text-danger" })
        </div>
        <div class="col-md-12">
            @Html.LabelFor(m => m.Query, new { @class = "required" })
            @Html.TextAreaFor(m => m.Query, new { @class = "form-control", placeholder = "SELECT DISTINCT ?Concept WHERE {[] a ?Concept}" })
            @Html.ValidationMessageFor(m => m.Query, null, new { @class = "text-danger" })
        </div>
        <div class="col-md-2">
            @Html.Label("btnSubmit", null, new { style = "visibility:hidden" })<br />
            <button id="btnSubmit" type="submit" class="btn btn-primary w-100">Kërko</button>
        </div>
    </div>
</form>

<div id="queryResult"></div>

@section scripts{
    <script>
        function onCompleted() {
            hideLoading()

            $('#tblShowResult').DataTable()
        }
    </script>
}